body{
    background: black;
    margin-left: 10px;
}


h1{
    background-color: orange;
    color: white;
    padding: 25px;
    text-align: center;
    float: left;
    margin-top: 20px;
    position: absolute;
    
}

#content{
    width: 30%;
    background-color: blanchedalmond;
    float: left;
    margin-top: 130px;
    padding-bottom: 50px;
}

p{
    margin: 20px;
    color: green;
}

#player{
    background-color: #b20fc4;
    color: white;
    text-align: center;
    width: 15%;
    float: left;
    margin-top: 550px;
    position: absolute;
    padding-bottom: 10px;
    font-size: 60px;
    height: 100px;
}

#stats{
    background-color: #05e6ee;
    color: white;
    width: 10%;
    float: left;
    margin-top: 550px;
    position: absolute;
    padding-bottom: 60px;
    margin-left: 15.5%;
    height: 50px;
}

.gems{
    float: left;
    position: absolute;
    margin-top: 680px;
}

#score{
    float: left;
    position: absolute;
    margin-top: 810px;
    background-color: teal;
    color: white;
    width: 20%;
}

#total{
    float: left;
    position: absolute;
    margin-top: 850px;
    background-color: teal;
    color: white;
    width:  20%;
    height: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 60px;
}

@media only screen and (max-width: 500px) {
    #content{
        width: 100%;
    }
    #player{
        width: 48%;
    }
    #stats{
        margin-left: 50%;
        width: 45%;
    }

    #score {
        margin-top: 910px;
        width: 50%;
    }

    #total{
      
        margin-top: 950px;
        width: 50%;
      
    }
}
